SECRET_KEY="super-secret-ecomesh-key"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgrespassword"
POSTGRES_SERVER="postgres"
POSTGRES_DB="ecomesh_db"
INFLUX_URL="http://influxdb:8086"
INFLUX_TOKEN="ecomesh-secure-token"
INFLUX_ORG="um_technothon"
INFLUX_BUCKET="sensor_metrics"